{{ define "main" }}
<main>
    <article>
        <header>
            <span class="flex-row flex-align-center">
                <i class="page-icon fa-solid fa-{{ .Params.icon }} mr-1"></i>
                <h2>{{ .Title }}</h2>
            </span>
        </header>
        <hr />
        {{.Content}}
    </article>

    {{ range .Pages.GroupByParam "category" }}
        <h3>{{ .Key }}</h3>

        <div class="flex-column">
            <!-- Ranges through content/posts/*.md -->
            {{ partial "components/projects.html" (dict "projects" .Pages.ByDate "ctx" $) }}
        </div>
    {{ end }}
</main>
{{ end }}