@import '../common/colors.scss';
@import '../common/responsive.scss';

html { 
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: $light_bg;
    color: $light_fg;

    @include dark {
        background-color: $dark_bg;
        color: $dark_fg;
    }
}

.no-colorize {
    color: $light_fg !important;

    &:hover {
        color: $light_fg !important;
    }

    @include dark {
        color: $dark_fg !important;

        &:hover {
            color: $dark_fg !important;
        }
    }
}