/** Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark_bg;
        color: $dark_fg;
    }
    
    a {
        color: $dark_primary;

        &:hover {
            color: $dark_secondary;
        }
    }

    .project {    
        > span {
            border-color: $neutral;
            color: $dark_fg;
        }
    
        hr {
            background-color: $neutral_dark;
        }
    }

    .label {
        background-color: $primary_darker;
        color: $primary_lightest;
    }
}