{{ $scratch := newScratch }}
{{ $ctx := .ctx }}
{{ $url := .url }}

{{ if and (isset . "labels") (gt ( len .labels ) 0 ) }}

    <span class="labels flex-row flex-row-mobile flex-align-end {{ .class }}">
        <a href="{{ $url | relLangURL }}" onclick="event.stopPropagation();" class="no-colorize">
            <i class="label-icon fa-light fa-{{ .icon }} mr-1" aria-hidden="true"></i>
        </a>
        {{ range $label := .labels }}
            {{ $scratch.Set "color" "grey" }}
            {{ range $ctx.Site.Data.tags.tags }}
                {{ if eq $label .tag }} {{ $scratch.Set "color" .color }} {{ end }}
            {{ end }}

            <a href="{{ $url | relLangURL }}{{ . | urlize }}" onclick="event.stopPropagation();">
                <span class="label {{ $scratch.Get "color" }}">
                    {{ $label }}
                </span>
            </a>
        {{ end }}
    </span>

{{ end }}