{{ $ctx := .ctx }}

{{ range .projects }}
    <div class="project" onclick="window.location='{{.Permalink}}'" tabindex="1">
        <span>
            <span class="flex-row flex-justify-sb">
                <span class="flex-row flex-align-baseline">
                    <i class="{{ .Params.icon }} icon mr-1" aria-hidden="true"></i> 
                    <h3 class="m-0"> {{ .Title }} </h3>
                </span>
                
                <div class="flex-align-baseline">
                    <i class="fa-duotone fa-calendar-alt mr-5" aria-hidden="true"></i>
                    {{ .Date.Format "January 2006" }}
                </div>
            </span>
            <hr />
            <span class="flex-row">
                {{ .Params.summary }}
            </span>
            <span class="flex-row flex-align-baseline mt-1">
                <i class="fa-light fa-tags mr-5" aria-hidden="true"></i>
                {{ partial "components/labels.html" (dict "tags" .Params.tags "ctx" $ctx) }}
            </span>
        </span>
    </div>
{{ end }}