{{ $ctx := .ctx }}

{{ range .projects }}
    <div class="project" onclick="window.location='{{.Permalink}}'" tabindex="1">
        <span class="flex-column">
            <span class="flex-row flex-justify-sb">
                <h3 class="m-0"> {{ .Title }} </h3>
                
                <div class="flex-align-baseline">
                    <i class="fa-duotone fa-calendar-alt mr-5" aria-hidden="true"></i>
                    {{ .Date.Format "January 2006" }}
                </div>
            </span>
            <hr />
            <span class="flex-row mt-1 ml-1 mr-1">
                <i class="{{ .Params.icon }} icon mr-2" aria-hidden="true"></i> 
                {{ .Params.summary }}
            </span>
            <span class="flex-row flex-justify-sb mt-25">
                <span class="flex-row flex-align-center">
                    <i class="label-icon fa-light fa-code mr-1" aria-hidden="true"></i>
                    {{ partial "components/labels.html" (dict "labels" .Params.languages "url" "/languages/" "ctx" $ctx) }}
                </span>
                <span class="flex-row flex-align-center">
                    <i class="label-icon fa-light fa-wrench mr-1" aria-hidden="true"></i>
                    {{ partial "components/labels.html" (dict "labels" .Params.tools "url" "/tools/" "ctx" $ctx) }}
                </span>
                <span class="flex-row flex-align-center">
                    <i class="label-icon fa-light fa-tags mr-1" aria-hidden="true"></i>
                    {{ partial "components/labels.html" (dict "labels" .Params.tags "url" "/tags/" "ctx" $ctx) }}
                </span>
            </span>
        </span>
    </div>
{{ end }}