{{ define "main" }}
  <main id="home">
      <div class="grid">
          <div class="grid-iama">I am a </div>
          <div class="grid-iama-content grey" id="content-0"><i class="fa-duotone fa-server" alt="Server icon"></i> <span>homelabber.</span></div>
          <div class="grid-iama-content red" id="content-1"><i class="fa-duotone fa-charging-station" alt="Charging station icon"></i> <span>Tesla owner.</span></div>
          <div class="grid-iama-content" id="content-2"><a class="orange" href="/projects"><img src="/emoji/male-tech.svg" alt="Male tech emoji" /> <span>software engineer.</span></a></div>
          <div class="grid-iama-content" id="content-3"><a class="pink" href="https://instagram.com/theothethoodle" target="_blank"><img src="/emoji/dog.svg" alt="Dog emoji" /> <span>dog dad.</span></a></div>
          <div class="grid-iama-content" id="content-4"><a class="cyan" href="https://aka.ms/pride" target="_blank"><img src="/emoji/rainbow.svg" alt="Rainbow emoji" /> <span>lgbtqi+ director.</span></a></div>
          <div class="grid-iama-content cyan" id="content-5"><i class="fa-duotone fa-water" alt="Water icon"></i> <span>scuba diver.</span></div>
          <div class="grid-iama-content blue" id="content-6"><i class="fa-duotone fa-skiing" alt="Skiing icon"></i> <span>skiier.</span></div>
          <div class="grid-iama-content hidden red"><i class="fa-duotone fa-leaf-maple" alt="Maple leaf icon"></i>  <span>Canadian.</span></div>
      </div>
  </main>

  <script type="text/javascript" src="/js/home.js"></script>
{{ end }}