{{ define "main" }}
  <main id="home">
      <div class="grid">
          <div class="grid-iama">I am a </div>
          <div class="grid-iama-content" id="content-1">software engineer</div>
          <div class="grid-iama-content" id="content-2">dog dad</div>
          <div class="grid-iama-content" id="content-3">lgbtqi+ director</div>
          <div class="grid-iama-content" id="content-4">tesla owner</div>
          <div class="grid-iama-content" id="content-5">scuba diver</div>
          <div class="grid-iama-content hidden">skiier</div>
          <div class="grid-iama-content hidden">homelabber</div>
      </div>
  </main>
{{ end }}