{{ define "main" }}
  <main id="home">
      <div class="grid">
          <div class="grid-iama">I am a </div>
          <div class="grid-iama-content" id="content-0">homelabber.</div>
          <div class="grid-iama-content" id="content-1">software engineer.</div>
          <div class="grid-iama-content" id="content-2">dog dad.</div>
          <div class="grid-iama-content" id="content-3">lgbtqi+ director.</div>
          <div class="grid-iama-content" id="content-4">tesla owner.</div>
          <div class="grid-iama-content" id="content-5">scuba diver.</div>
          <div class="grid-iama-content" id="content-6">skiier.</div>
      </div>
  </main>

  <script type="text/javascript" src="/js/home.js"></script>
{{ end }}