---
import PageLayout from "../layouts/PageLayout.astro";
import Heading from "../components/text/Heading.astro";
---

<PageLayout title="Contact">
  <main class="container mx-auto p-6">
    <Heading>Get in Touch</Heading>
  </main>
</PageLayout>