---
import PageLayout from "../layouts/PageLayout.astro";
import Heading from "../components/text/Heading.astro";
---

<PageLayout title="Contact">
  <main>
    <Heading>Get in Touch</Heading>
  </main>
</PageLayout>