---
import PageLayout from "../layouts/PageLayout.astro";
import Heading from "../components/text/Heading.astro";
---

<PageLayout title="Contact">
  <main class="container mx-auto px-4 py-8">
    <Heading>Get in Touch</Heading>
  </main>
</PageLayout>