<!DOCTYPE html>
<html class="ms-Fabric" lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body>
        <svg id="fader"></svg>
        <script type="text/javascript" src="/js/fader.js"></script>

        <div class="ms-Grid" dir="ltr">
            {{- partial "header.html" . -}}
            <div id="content">
                {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        </div>

        <script type="text/javascript" src="/js/identity.js"></script>
    </body>
</html>
