{{ define "main" }}
{{ $scratch := newScratch }}

<main>
    <article>
        <header>
            <h2>{{.Title}}</h2>
        </header>
        {{.Content}}
    </article>
    <div class="flex-row flex-wrap">
        {{ range .Pages }}
            {{ $scratch.Set "color" "grey" }}
            {{ $label := .Title }}

            {{ range .Site.Data.tags.tags }}
                {{ if eq $label .tag }} {{ $scratch.Set "color" .color }} {{ end }}
            {{ end }}

            <a href="{{.Permalink}}" class="card item label {{ $scratch.Get "color" }}">
                {{.Title}}
            </a>
        {{ end }}
        </div>
</main>
{{ end }}