@import '../common/colors.scss';
@import '../common/helpers.scss';
@import '../common/responsive.scss';

button, .btn {
    cursor: pointer;

    &.primary {
        background-color: $primary;
        color: $primary_lightest;
        border: 1px solid $primary_dark;
        border-radius: .5rem;
        padding: .75rem 1rem;

        @extend .z-depth-05-hover;

        &:hover {
            background-color: $primary_darker;
            border-color: $primary_lighter;
        }
    }
}