@import '../common/colors.scss';
@import '../common/responsive.scss';

/* Generic card */
.card {
    margin: 1rem;
    padding: 4rem;
    border: 1px solid $neutral_light;
    border-radius: 0.5rem;
    background-color: $neutral_lighter;

    @extend .z-depth-1-hover;

    @include dark {
        background-color: $neutral_darkest;
    }

    @include mobile {
        padding: 2rem;
    }
}