@import '../common/colors.scss';
@import '../common/helpers.scss';
@import '../common/responsive.scss';

// Set label's color
@mixin label-color($color) {
    background-color: lighten($color, 40%);
    color: darken($color, 20%);
    border: 1px solid lighten($color, 30%);

    @extend .z-depth-05;

    &:hover {
        background-color: lighten($color, 30%);
        color: darken($color, 30%);
        transition: .25s;
    }

    @include dark {
        background-color: darken($color, 15%);
        color: lighten($color, 20%);
        border-color: lighten($color, 10%);

        &:hover {
            background-color: darken($color, 30%);
            color: lighten($color, 20%);
            border-color: darken($color, 10%);
        }
    }
}

/* Label group icon */
.label-icon {
    font-size: 1.2rem;
}

/* Label */
.label {
    padding: 0.2rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;

    @include label-color($neutral_dark);

    &.blue {
        @include label-color($primary);
    }

    &.cyan {
        @include label-color(desaturate($ms-color-sharedCyan20, 30%));
    }

    &.green {
        @include label-color(desaturate($ms-color-sharedGreen20, 30%));
    }

    &.red {
        @include label-color($ms-color-sharedRed20);
    }

    &.orange {
        @include label-color($ms-color-sharedOrange20);
    }

    &.purple {
        @include label-color($ms-color-sharedBlueMagenta30);
    }

    &.pink {
        @include label-color(desaturate($ms-color-sharedMagenta20, 30%));
    }
}