@import '../common/colors.scss';
@import '../common/mixins.scss';

/* Label */
.label {
    padding: 0.2rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;

    @include label-color($neutral_dark);

    &.blue {
        @include label-color($primary);
    }

    &.cyan {
        @include label-color(desaturate($ms-color-sharedCyan20, 30%));
    }

    &.green {
        @include label-color(desaturate($ms-color-sharedGreen20, 30%));
    }

    &.red {
        @include label-color($ms-color-sharedRed20);
    }

    &.orange {
        @include label-color($ms-color-sharedOrange20);
    }

    &.purple {
        @include label-color($ms-color-sharedBlueMagenta30);
    }

    &.pink {
        @include label-color(desaturate($ms-color-sharedMagenta20, 30%));
    }
}