@import '../common/mixins.scss';

/* Logo */
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;

    > img {
        height: 2rem;
        padding-right: 0.75rem;    
    }

    @include mobile {
        justify-content: center;
        margin-block-end: .5rem;
    }
}