@import '../common/colors.scss';
@import '../common/responsive.scss';
@import './card.scss';

/* Nav menu */
#nav-container {
    transition: all .25s;
    background-color: $neutral-lighter;

    @include res-custom-nav {
        position: absolute;
        top: 4.6rem;
        z-index: 10000;
        padding-bottom: .5rem;
    }

    @include thm-dark {
        background-color: $neutral-darkest;
    }
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav-button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;

    height: 3.5rem;
    width: 3.5rem;

    @extend .flex-row;
    @extend .flex-align-center;
    @extend .flex-justify-center;
    @include card-color();

    i {
        transition: all .25s;
    }
}