@import '../common/colors.scss';
@import '../common/responsive.scss';

/* Page */
.page-icon {
    font-size: 1.6rem;
}

header {
    h2 {
        font-weight: 400;
    }

    .parent h2 {
        font-weight: 100;
    }
}