@import '../common/colors.scss';
@import '../common/responsive.scss';

/* Project card */
.project {
    margin: 1rem;
    cursor: pointer;
    border: 1px solid $neutral_light;
    border-radius: 0.5rem;

    @extend .z-depth-1-hover;

    > span {
        border: 0px solid $neutral_light;
        border-radius: 0.5rem;
        background-color: $neutral_lighter;
        color: $light_fg;
        padding: 2rem;
    }

    hr {
        height: 1px;
        width: 98%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: $neutral_light;
        border: none;
    }

    .icon {
        font-size: 4rem;
    }

    .labels {
        flex: 0 0 33%;
    }

    @include dark {
        > span {
            border-color: $neutral;
            background-color: $neutral_darkest;
            color: $dark_fg;
        }
    
        hr {
            background-color: $neutral_dark;
        }
    }
}