@import '../common/mixins.scss';

nav {
    display: flex;
    justify-content: space-around;
}

#content {
    flex-grow: 1;
    padding-bottom: 2rem;

    @include mobile {
        margin-top: 1rem;
    }
}

footer {
    justify-self: flex-end;
    padding-bottom: 1rem;
}