@import '../common/colors.scss';
@import '../common/helpers.scss';
@import '../common/responsive.scss';

#header, #footer {
    background-color: $neutral-lighter;
    margin: 0;
    padding: 0 4rem;

    > * {
        padding: 1rem 0;
    }

    @include dark {
        background-color: $neutral-darkest;
    }

    @extend .z-depth-1;
}

#content {
    flex-grow: 1;
    padding: 2rem 0;
    width: 90%;
    max-width: 960px;
    align-self: center;

    hr.splitter {
        height: 1px;
        width: 98%;
        margin-top: 0;
        margin-bottom: 0.5rem;
        background-color: $neutral_light;
        border: none;
        
        @include dark {
            background-color: $neutral;
        }
    }

    @include mobile {
        margin-top: 1rem;

        main {
            text-align: center;
        }
    }

    @include tablet {
        margin-top: 2rem;
    }
}

footer {
    justify-self: flex-end;

    #bwl {
        opacity: 1;
        transition: opacity .25s;
    }

    #bwl-alt {
        opacity: 0;
        transition: opacity .25s;

        img {
            height: 1.25rem;
            margin: 0 0.3rem;
        }
    }

    nav {
        font-size: 1.4rem;
    }

    @include mobile {
        text-align: center;
        
        .flex-justify-end {
            justify-content: center;
        }
        
        > * {
            width: 100%;
        }
    }

    @extend .z-depth-2;
}