---
import Backdrop from "./background/Backdrop.astro";
import { Icon } from "astro-icon/components"
import NavItem from "./NavItem.astro";
---

<nav class="fixed top-4 left-1/2 -translate-x-1/2">
    <Backdrop class="flex flex-row justify-center items-center gap-6 py-3 px-6">
        <NavItem path="" class=`py-1 pl-2 pr-8 border-r-2 border-slate-200/50 text-sky-500`><Icon name="fa/house" class="text-2xl" /></NavItem>
        <NavItem path="experience">Experience</NavItem>
        <NavItem path="projects">Projects</NavItem>
        <NavItem path="contact">Contact</NavItem>
    </Backdrop>
</nav>