---
interface Props {
  path: string;
  class?: string;
}

const { path, class: className } = Astro.props;

---

<a class=`font-display py-1 px-2 hover:text-pink-500 transition-colors duration-300 ${className}` href=`/${path}` data-astro-prefetch><slot /></a>