---
import { getJobColor } from '../../utils/colors';
import TimelineYearMarkers from './TimelineYearMarkers.astro';
import TimelineIndicator from './TimelineIndicator.astro';

interface Props {
  jobs: Array<{
    position: {
      startPosition: number;
      endPosition: number;
    };
  }>;
  years: Array<{
    year: number;
    position: number;
  }>;
}

const { jobs, years } = Astro.props;
---

<div class="absolute inset-0">
  {/* Main timeline line */}
  <div
    class="absolute left-1/2 w-1 h-full -ml-0.5 bg-slate-700"
    data-aos="fade"
    data-aos-delay="200"
    data-aos-duration="1000"
    data-aos-anchor=".timeline"
  >
    <TimelineYearMarkers {years} />
    <TimelineIndicator {jobs} />
  </div>
</div>
