---
interface Props {
  years: Array<{
    year: number;
    position: number;
  }>;
}

const { years } = Astro.props;
---

<div class="absolute left-1/2 w-1 h-full -ml-0.5">
  {/* Year markers */}
  {
    years.map(({ year, position }) => (
      <div
        class="absolute -left-1 flex items-center gap-2"
        style={`top: calc(${position * 100}% - 0.625rem)`}
      >
        <div class="w-3 h-0.5 bg-slate-700" />
        <div class="text-sm text-slate-600 font-date relative top-3">{year}</div>
      </div>
    ))
  }
</div>
