---
import PageLayout from "../../layouts/PageLayout.astro";
import Heading from "../../components/text/Heading.astro";
import { projects } from "../../data";
---

<PageLayout title="Projects">
  <main>
    <Heading>Projects</Heading>
    <ul>
        {
          projects.map((project) => (
            <li>
              <a href={`/projects/${project.slug}`}>
                <h2>{project.title}</h2>
              </a>
            </li>
          ))
        }
       </ul>
  </main>
</PageLayout>