---
import PageLayout from "../../layouts/PageLayout.astro";
import Heading from "../../components/text/Heading.astro";

import directus from "../../api/directus";
import { readItems } from "@directus/sdk";

const projects = await directus.request(
  readItems("projects", {
    fields: [
      "slug",
      "title",
    ],
    sort: ["slug"],
  })
);
---

<PageLayout title="Projects">
  <main>
    <Heading>Projects</Heading>
    <ul>
        {
          projects.map((project) => (
            <li>
              <a href={`/blog/${project.slug}`}>
                <h2>{project.title}</h2>
              </a>
            </li>
          ))
        }
       </ul>
  </main>
</PageLayout>