@import '../common/colors.scss';
@import '../common/helpers.scss';
@import '../common/responsive.scss';

#about {
    .avatar {
        align-self: flex-start;
        height: 20rem;
        padding: 2rem;
    }

    @include res-mobile-tablet {
        .flex-row {
            flex-direction: column;
        }

        .avatar {
            order: -1;
            align-self: center;
        }
    }
}