@import '../common/colors.scss';
@import '../common/helpers.scss';
@import '../common/responsive.scss';

@mixin _translateY($factor, $step) {
    transform: translateY(($factor * $step)+rem);
}

@mixin content-transform($factor) {
    #content-0 {
        opacity: 20%;
        @include _translateY($factor, -3)
    }

    #content-1 {
        opacity: 50%;
        @include _translateY($factor, -2)
    }

    #content-2 {
        opacity: 80%;
        @include _translateY($factor, -1)
    }

    #content-3 {
        z-index: 100;
        
        a { 
            cursor: pointer;
        }
    }

    #content-4 {
        opacity: 80%;
        @include _translateY($factor, 1)
    }

    #content-5 {
        opacity: 50%;
        @include _translateY($factor, 2)
    }

    #content-6 {
        opacity: 20%;
        @include _translateY($factor, 3)
    }
}

#home {
    height: 100%;
    font-size: 3rem;
    font-weight: 200;

    .grid {
        height: 100%;
        display: grid;
        grid-template-columns: 4rem auto 50% 4rem;
        grid-template-rows: 16rem auto auto auto auto auto auto auto 16rem;
    }

    .grid-iama {
        grid-column-start: 2;
        grid-row-start: 5;
        text-align: right;
        padding-right: 2.5rem;
        font-weight: 400;

        @extend .flex-row;
        @extend .flex-align-center;
        @extend .flex-justify-end;

        @include mobile {
            justify-content: flex-start;
        }
    }

    .grid-iama-content {
        grid-column-start: 3;
        grid-row-start: 5;
        white-space: nowrap;

        @extend .flex-align-center;
    }

    .grid-iama-content > a {
        @extend .flex-align-end;
    }

    .grid-iama-content, .grid-iama-content > a {
        transition: all .25s;
        cursor: default;

        @extend .flex-row;
        
        a span {
            text-decoration: underline;
        }

        i, img {
            height: 3rem;
            width: 3.5rem;
            font-size: 3rem;
            padding-right: 1rem;

            @include mobile {
                display: none;
            }

            @include tablet {
                display: none;
            }
        }
    }

    @include content-transform(5);

    .hidden {
        display: none;
        opacity: 0;
    }

    @include mobile {
        @include content-transform(4);

        .grid {
            grid-template-columns: 0 0 auto 0;
        }

        .grid-iama {
            text-align: center;
            grid-column-start: 3;
            grid-row-start: 1;
            padding-right: 0;
        }
    }
}