<div class="ms-Grid-row flex-row flex-align-center" id="header">
    <div class="ms-Grid-col ms-sm12 ms-lg6 ms-xxl8">
        <h1 class="logo rainbow">
            <img src="/emoji/wave.svg" alt="Hand waving emoji" /> 
            Hi, I'm&nbsp;<span class="rainbow-ltr">V</span><span class="rainbow-ltr">l</span><span class="rainbow-ltr">a</span><span class="rainbow-ltr">d</span><span class="rainbow-ltr">.</span>
        </h1>
    </div>
    <div class="ms-Grid-col ms-sm12 ms-lg6 ms-xxl4 no-pad">
        <nav class="flex-row flex-justify-sb">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="nav-link {{ .Page.Params.color }} {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)  }}active{{ end }}" href="{{ .URL }}" title="{{ .Title }}">
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
            {{ end }}
        </nav>
    </div>
</div>