/* Import Fabric Core base colors */
@import '../vendors/fabric/variables/Color.Variables';

/* Core color - Primary */
$primary: $ms-color-communicationPrimary;
$primary_light: $ms-color-communicationTint10;
$primary_lighter: #71afe5;
$primary_lightest: $ms-color-communicationTint20;
$primary_dark: $ms-color-communicationShade10;
$primary_darker: $ms-color-communicationShade20;
$primary_darkest: $ms-color-communicationShade30;

/* Core color - Neutral */
$neutral: $ms-color-gray100;
$neutral_light: $ms-color-gray80;
$neutral_lighter: $ms-color-gray30;
$neutral_lightest: $ms-color-gray10;
$neutral_dark: $ms-color-gray130;
$neutral_darker: $ms-color-gray150;
$neutral_darkest: $ms-color-gray190;

/* Light colors */
$light_bg: $neutral_lightest;
$light_fg: $neutral_darker;
$light_primary: $primary;
$light_secondary: $primary_lighter;

/* Dark (derived) colors */
$dark_bg: $light_fg;
$dark_fg: $light_bg;
$dark_primary: $primary_lighter;
$dark_secondary: $primary_lightest;