---
interface Props {
  style?: string;
  class?: string;
}

const { style: style, class: className } = Astro.props;
---

<div
  class=`bg-center bg-cover ${className}`
  style=`background-image: url('/background.svg');${style||""}`
>
  <slot />
</div>
